<ul class="details">
  {{#predictions}}
    <li class="cta-train cta-{{route.class}}">
      <figure>
        {{ prediction.arrivalMinutes }}m
      </figure>
      <figcaption>
        <div class="main-line">{{ prediction.arrivalString }} {{#status.scheduled}}(scheduled){{/status.scheduled}} towards {{destination.name}}</div>
        <div class="second-line"><a href="/follow/{{route.run}}">follow</a> – predicted {{ prediction.predictionAge }}s ago</div>
      </figcaption>
    </li>
  {{/predictions}}
  {{^predictions}}
    <li>No trains</li>
  {{/predictions}}
</ul>
