<h3>{{header}}</h3>

<ul class="details">
{{#schedule}}
  <li class="cta-train cta-{{route.class}}">
    <p>{{station.name}} – {{prediction.arrivalMinutes}}m ({{prediction.arrivalString}})</p>
  </li>
{{/schedule}}
{{^schedule}}
  <li>No trains</li>
{{/schedule}}
</ul>
