<h3>{{header}}</h3>

<ul class="details">
{{#schedule}}
  <li class="cta-train cta-{{route.class}} {{#highlight}}highlight{{/highlight}}">
    <figure>
      {{ prediction.arrivalMinutes }}m
    </figure>
    <figcaption>
      <div class="prediction">{{station.name}}</div>
      <div class="prediction-age">{{ prediction.arrivalString }} – predicted {{ prediction.predictionAge }}s ago</div>
    </figcaption>
  </li>
{{/schedule}}
{{^schedule}}
  <li>No trains</li>
{{/schedule}}
</ul>
