<ul class="details">
{{#schedule}}
  <li class="cta-train cta-{{route.class}} {{#highlight}}highlight{{/highlight}}">
    <figure>
      {{ prediction.arrivalMinutes }}m
    </figure>
    <figcaption>
      <div class="main-line">{{station.name}}</div>
      <div class="second-line">arrivals for this <a href="/stop/{{station.stop.id}}">stop</a> | <a href="/station/{{station.id}}">station</a> – predicted {{ prediction.predictionAge }}s ago</div>
    </figcaption>
  </li>
{{/schedule}}
{{^schedule}}
  <li>No trains</li>
{{/schedule}}
</ul>
