<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width">
    <title>{{#title}}{{title}}{{/title}}{{^title}}Slow Zone{{/title}}</title>
    <link href="{{baseUrl}}/assets/style.css" rel="stylesheet">
    {{#icon}}
      <link rel="icon" type="image/png" href="{{icon}}">
      <link rel="apple-touch-icon" type="image/png" href="{{icon}}">
    {{/icon}}
  </head>
  <body>
    {{#header}}
    <header>
      <h2>{{head}}</h2>
      <h4>{{subhead}}</h4>
    </header>
    {{/header}}
    {{{ yield }}}
    {{#scripts}}
      <script src="{{url}}"></script>
    {{/scripts}}
  </body>
</html>
