<!doctype html>
<html lang="en">
<head>
  <meta name = "viewport" content = "width=device-width, minimal-ui">
  <title>{{#title}}{{title}}{{/title}}{{^title}}Slow Zone{{/title}}</title>
  <link href="{{baseUrl}}/assets/application.css" media="screen" rel="stylesheet" type="text/css">
  {{#icon}}
  <link rel="icon" type="image/png" href="{{icon}}">
  <link rel="apple-touch-icon" type="image/png" href="{{icon}}">
  {{/icon}}
</head>
<body>
  {{{ yield }}}
</body>
</html>