<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width">
    <title>{{#title}}{{head}}{{/title}}{{^title}}Slow Zone{{/title}}</title>
    <link href="{{baseUrl}}/assets/style.css" rel="stylesheet">
    {{#icon}}
      <link rel="icon" type="image/png" href="{{icon}}">
      <link rel="apple-touch-icon" type="image/png" href="{{icon}}">
    {{/icon}}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li id="title">Slow Zone</li>
          <li><a href="/nearby">Nearby</a></li>
          <li><a href="/am">AM</a></li>
          <li><a href="/pm">PM</a></li>
        </ul>
      </nav>
    </header>

    <section>
      {{#title}}
        <h2>{{head}}</h2>
        <h4>{{subhead}}</h4>
      {{/title}}
      {{{ yield }}}
    </section>

    <script src="/assets/vendor/fastclick.js"></script>
    <script>
      if ('addEventListener' in document) {
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body);
        }, false);
      }
    </script>

    {{#scripts}}
      <script src="{{url}}"></script>
    {{/scripts}}
  </body>
</html>
