<ul class="details">
{{#predictions}}
  <li data-predicted-for="{{prediction.timestamps.prediction}}" data-predicted-at="{{prediction.timestamps.origin}}">
   <span class="prediction">{{ prediction.minutes }}</span> :: {{ prediction.minutes }} :: {{ prediction.arrivalTime }}
  </li>
{{/predictions}}
{{^predictions}}
  <li>No trains</li>
{{/predictions}}
</ul>

<script>
var els = document.querySelectorAll('li');
estimate = function(){
  [].forEach.call(els, function(one){
    var estimatedMinutes = (one.dataset.predictedFor - one.dataset.predictedAt) / (1000 * 60);
    var actualMinutes = Math.round((one.dataset.predictedFor - (new Date).getTime()) / (1000 * 60));
    if(actualMinutes < 1){
      actualMinutes = "now";
    }
    var predictionNode = one.querySelector('.prediction');
    console.log("++ check");
    if(predictionNode.textContent != actualMinutes){
      console.log("!! dom write");
      predictionNode.textContent = actualMinutes;
    }
  })
  console.log("------ tick ------");
};
setInterval(estimate, 1000);
</script>