<ul class="details">
{{#predictions}}
  <li class="cta-train cta-{{route.class}}">
    <span class="bubble">{{ prediction.arrivalMinutes }}m</span>
    {{ prediction.arrivalString }} towards {{destination.name}}
  </li>
{{/predictions}}
{{^predictions}}
  <li>No trains</li>
{{/predictions}}
</ul>
