body{
  background-color: #130f30;
  color: #ddd;
  font-family: "Helvetica Neue";
  margin: 0;
  padding-bottom: 30px;
}

.red    {background-color: #C60C30; color: #eee;}
.green  {background-color: #009B3A; color: #eee;}
.brown  {background-color: #62361B; color: #eee;}
.purple {background-color: #522398; color: #eee;}
.blue   {background-color: #00A1DE; color: #eee;}
.orange {background-color: #F9461C; color: #eee;}
.yellow {background-color: #F9E300; color: #333;}
.pink   {background-color: #E27EA6; color: #eee;}
.gray   {background-color: #565A5C; color: #000;}
