*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body{
  font-family: Avenir;
  font-size: 18px;
}

.details{
  list-style-type: none;
  padding: 0;
}

.cta-train{
  margin: 10px 0;
}

.bubble{
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.25);
  display: inline-block;
  height: 45px;
  margin-right: 5px;
  width: 45px;
  font-size: 14px;
  line-height: 35px;
  font-weight: bold;
  text-align: center;
  color: rgba(255,255,255,0.9);
}

.cta-red
  .bubble {background-color: #C60C30;}
.cta-green
  .bubble {background-color: #009B3A;}
.cta-brown
  .bubble {background-color: #62361B;}
.cta-purple
  .bubble {background-color: #522398;}
.cta-blue
  .bubble {background-color: #00A1DE;}
.cta-orange
  .bubble {background-color: #F9461C;}
.cta-yellow
  .bubble {background-color: #F9E300;}
.cta-pink
  .bubble {background-color: #E27EA6;}
.cta-gray
  .bubble {background-color: #565A5C;}
