body{
  font-family: Avenir;
}

.details{
  list-style-type: none;
  padding: 0;
}

.cta-train{
  line-height: 55px;
}

.cta-train:before{
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.25);
  content: '';
  display: inline-block;
  height: 30px;
  margin-right: 5px;
  vertical-align: -15px;
  width: 30px;
}

.cta-red:before {background-color: #C60C30;}
.cta-green:before {background-color: #009B3A;}
.cta-brown:before {background-color: #62361B;}
.cta-purple:before {background-color: #522398;}
.cta-blue:before {background-color: #00A1DE;}
.cta-orange:before {background-color: #F9461C;}
.cta-yellow:before {background-color: #F9E300;}
.cta-pink:before {background-color: #E27EA6;}
.cta-gray:before {background-color: #565A5C}
