$color-cta-red = #C60C30
$color-cta-green = #009B3A
$color-cta-brown = #62361B
$color-cta-purple = #522398
$color-cta-blue = #00A1DE
$color-cta-orange = #F9461C
$color-cta-yellow = #F9E300
$color-cta-pink = #E27EA6
$color-cta-gray = #565A5C

$color-text-color = #fff
$color-background-color = $color-cta-gray
