@import 'nib'
@import 'colors'

*, *:before, *:after
  box-sizing: border-box

body
  font-family: Avenir
  font-size: 18px

.details
  list-style-type: none
  padding: 0

.cta-train
  margin: 10px 0

.bubble
  border-radius: 50%
  border: 5px solid rgba(255, 255, 255, 0.25)
  color: rgba(255, 255, 255, 0.9)
  display: inline-block
  font-size: 14px
  font-weight: bold
  height: 45px
  line-height: 35px
  margin-right: 5px
  text-align: center
  width: 45px

.cta-red .bubble
  background-color: $color-cta-red

.cta-green .bubble
  background-color: $color-cta-green

.cta-brown .bubble
  background-color: $color-cta-brown

.cta-purple .bubble
  background-color: $color-cta-purple

.cta-blue .bubble
  background-color: $color-cta-blue

.cta-orange .bubble
  background-color: $color-cta-orange

.cta-yellow .bubble
  background-color: $color-cta-yellow

.cta-pink .bubble
  background-color: $color-cta-pink

.cta-gray .bubble
  background-color: $color-cta-gray
