@import 'nib'
@import 'colors'

*, *:before, *:after
  box-sizing: border-box

body
  background-color: $color-background-color
  color: $color-text-color
  font-family: Avenir
  font-size: 18px
  margin: 0

section
  margin: 0 10px

.details
  list-style-type: none
  padding: 0

.cta-train
  margin: 10px 0

  figure, figcaption
    display: inline-block

  figure
    border-radius: 50%
    border: 5px solid rgba(255, 255, 255, 0.25)
    color: rgba(255, 255, 255, 0.9)
    font-size: 20px
    font-weight: bold
    height: 60px
    line-height: 51px
    margin: 5px 10px 5px 0
    text-align: center
    width: 60px

  figcaption
    line-height: 16px
    padding-top: 10px
    vertical-align: -7px

  &.highlight
    figure
      border-color: rgb(255, 255, 255)

.main-line
  font-size: 18px
  max-width: 280px
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.second-line
  color: rgba(255, 255, 255, 0.7)
  font-style: italic
  font-size: 11px

a
  color: $color-cta-yellow

.cta-red figure
  background-color: $color-cta-red

.cta-green figure
  background-color: $color-cta-green

.cta-brown figure
  background-color: $color-cta-brown

.cta-purple figure
  background-color: $color-cta-purple

.cta-blue figure
  background-color: $color-cta-blue

.cta-orange figure
  background-color: $color-cta-orange

.cta-yellow figure
  background-color: $color-cta-yellow

.cta-pink figure
  background-color: $color-cta-pink

.cta-gray figure
  background-color: $color-cta-gray

.nearby-stations
  figure
    font-size: 22px
    line-height: 18px
    padding-top: 10px

  .units
    display: block
    font-size: 14px

  figcaption
    vertical-align: 0

header
  background-color: $color-header-color

nav
  padding: 5px 0

  ul
    padding: 0
    margin: 0

    li
      display: inline-block
      margin: 0 5px

#title
  font-weight: bold
