*, *:before, *:after
  box-sizing: border-box

body
  background-color: $color-background-color
  color: $color-text-color
  font-family: Avenir
  font-size: 18px
  margin: 0

section
  margin: 0 10px

a
  color: $color-cta-yellow

// Header & Nav
header
  background-color: $color-header-color

nav
  padding: 5px 0

  ul
    margin: 0
    padding: 0

    li
      display: inline-block
      margin: 0 5px

#title
  font-weight: bold
